<style>
 #styled {margin-top:20px;}
    
    .group {padding:5px; background-color:#eee; border:1px dashed #ccc; list-style:none; margin:0px; margin-bottom:5px;}
    .group a {font-size:1.2em;}
    .group p {margin-bottom:5px;}
    .group li {margin-bottom:5px;}
    
    #css3 div > div {margin:0px 0px 50px 0px; padding:6px; border:1px solid #eee;}
    #grid div {text-align:center;  }
    #grid div > .col {border-bottom:1px solid #ccc; padding:10px 0px; outline:1px solid #eee;}
    
    h2 {border-bottom:1px dashed #ccc; margin-top:30px;}
    
    .documentation {display:block; background-color:#eee; padding:6px 13px; font-family:Georgia, "Times New Roman", Times, serif; color:#666; text-align:right; text-shadow:-1px -1px 0px #fff;}
</style>



<body>

<section class="row" id="styled">
    <div class="col_16 col">
    	<h1 class="fontface">Welcome to Yearbook</h1>
        <img width="327" height="184" src="/images/yearbooks-generic.jpg"/>
        <h2>What is?</h2>
        <ul class="group html5">
        	<li>
            	<a href="http://en.wikipedia.org/wiki/Yearbook" target="blank">Wikipedia</a>
            	<p>A yearbook, also known as an annual, is a type of a book published annually including to record, highlight, and commemorate the past year of a school. Virtually all American, Australian, and Canadian high schools, most colleges, and many elementary and middle schools in those countries publish yearbooks[citation needed]. The term may also refer to a book of statistics or facts published annually.</p>
            </li>
            <li>
            	<a href="http://www.ukschoolyearbooks.com/blog-entry/what-yearbook" target="blank">UK School Yearbooks</a>
            	<p>Yearbooks are generally compiled by a student yearbook committee, which may or may not be advised by teachers and/or parents. The yearbook committee usually has one or more editors whose job is to collect and compile all of the information to be contained within the book. In the case of a sports club - there is usually a yearbook editor and and designated sub-editors (fellow members) who all contribute to creating the yearbook.</p>
            </li>            
        </ul>
     </div>
</section>
 
</body>